{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% block head %}
<script src="{% static 'external/js/angular.min.js' %}"></script>
<script src="{% static 'external/angular-resource.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
<div ng-app="peopleModule">
  <br>
  <div class="row center s3">
    <a href="{% url 'api:api-root' %}" class="btn-large indigo waves-effect waves-light">
      <i class="material-icons right">arrow_forward</i>API
    </a>
  </div>

  <div class="row center s3">
    <a class="waves-effect waves-light btn">Empleados</a>
    <a class="waves-effect waves-light btn">Perfiles</a>

    {% verbatim angular %}
    <div ng-controller="EmployeesController as emplCntr">
      <h5 class="container">
        <ul class="collection">
          <li class="collection-item" ng-repeat="employee in emplCntr.employees">{{ employee.username }}</li>
        </ul>
      </h5>
    </div>
    {% endverbatim angular %}

  </div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}
