{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% block head %}
<script src="{% static 'external/js/angular.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
<div ng-app="peopleModule">

    {% verbatim angular %}

    <div class='container' ng-controller="PeopleController as plpCtrl">
        <div class='card'>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 teal darken-4"><a href="#test1">EMPLEADOS</a></li>
                    <li class="tab col s3 teal darken-4"><a href="#test2">PACIENTES</a></li>
                    <li class="tab col s3 teal darken-4 disabled"><a href="#test2">STOCK</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#test_secretary">SECRETARIAS</a></li>
                        <li class="tab col s3"><a href="#test_doctor">DOCTORES</a></li>
                    </ul>
                </div>

                <div id="test_secretary" class="col s12">
                    <table class="bordered centered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>E-mail</th>
                                <th>Telefono</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="employee in employees">
                            <tr ng-show="employee.charge == 'secretary'">
                                <td>{{employee.profile.first_name}} {{employee.profile.last_name}}</td>
                                <td>{{employee.profile.dni}}</td>
                                <td>{{employee.profile.email}}</td>
                                <td>{{employee.profile.phone}}</td>
                                <td><a class="waves-effect btn-flat black-text modal-trigger" href="#modalEmployee" ng-click="plpCtrl.setCurrent($index)"><i class="material-icons">arrow_forward</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="test_doctor" class="col s12">
                    <table class="bordered centered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>E-mail</th>
                                <th>Telefono</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="employee in employees">
                            <tr ng-show="employee.charge == 'doctor'">
                                <td>{{employee.profile.first_name}} {{employee.profile.last_name}}</td>
                                <td>{{employee.profile.dni}}</td>
                                <td>{{employee.profile.email}}</td>
                                <td>{{employee.profile.phone}}</td>
                                <td><a class="waves-effect btn-flat black-text modal-trigger" href="#modalEmployee" ng-click="plpCtrl.setCurrent($index)"><i class="material-icons">arrow_forward</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="test2" class="col s12">
                <table class="bordered centered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>E-mail</th>
                            <th>Telefono</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="profile in profiles">
                        <tr ng-hide="profile.employee">
                            <td>{{profile.first_name}} {{profile.last_name}}</td>
                            <td>{{profile.dni}}</td>
                            <td>{{profile.email}}</td>
                            <td>{{profile.phone}}</td>
                            <td><a class="waves-effect btn-flat black-text modal-trigger" href="#modalProfile" ng-click="plpCtrl.setCurrent($index)"><i class="material-icons">arrow_forward</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modalEmployee" class="modal modal-fixed-footer">
            <form class="col s12">
                <div class="modal-content">
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="first_name" ng-model="employees[plpCtrl.current].profile.first_name"  type="text">
                            <label for="first_name">Nombre</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="first_name" ng-model="employees[plpCtrl.current].profile.last_name"type="text">
                            <label for="first_name">Apellido</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="last_name" ng-model="employees[plpCtrl.current].profile.dni" type="text" >
                            <label for="last_name">DNI</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" ng-model="employees[plpCtrl.current].profile.address" type="text" >
                            <label for="last_name">Direccion</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" ng-model="employees[plpCtrl.current].profile.phone" type="text" >
                            <label for="last_name">Telefono</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" ng-model="employees[plpCtrl.current].profile.cellphone" type="text" >
                            <label for="last_name">Celular</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" ng-model="employees[plpCtrl.current].profile.email" type="text" >
                            <label for="last_name">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" ng-model="employees[plpCtrl.current].username" type="text" disabled="dissabled">
                            <label for="last_name">Nombre de Usuario</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#!" class=" modal-action black-text modal-close waves-effect waves-green btn-flat">Guardar</a>
                <a href="#!" class=" modal-action black-text modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <div class="left"><a href="#!" class=" modal-action red-text modal-close waves-effect waves-red btn-flat">Eliminar</a></div>
            </div>
        </div>
        <div id="modalProfile" class="modal modal-fixed-footer">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#test_infomacion">INFORMACION</a></li>
                    <li class="tab col s3"><a href="#test_historial">HISTORIAL</a></li>
                </ul>
            </div>
            <div id="test_infomacion" class="modal-fixed-footer">
                <form class="col s12">
                    <div class="modal-content">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="first_name" ng-model="profiles[plpCtrl.current].first_name"  type="text" >
                                <label for="first_name">Nombre</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="first_name" ng-model="profiles[plpCtrl.current].last_name"  type="text" >
                                <label for="first_name">Apellido</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="last_name" ng-model="profiles[plpCtrl.current].dni" type="text" >
                                <label for="last_name">DNI</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" ng-model="profiles[plpCtrl.current].address" type="text" >
                                <label for="last_name">Direccion</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" ng-model="profiles[plpCtrl.current].phone" type="text" >
                                <label for="last_name">Telefono</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" ng-model="profiles[plpCtrl.current].cellphone" type="text" >
                                <label for="last_name">Celular</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" ng-model="profiles[plpCtrl.current].email" type="text" >
                                <label for="last_name">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">FICHA NUEVA</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div id="test_historial" class="modal-fixed-footer">
                    <form class="col s12">
                        <div class="modal-content">
                            <div class="row">
                                <ul class="collection">
                                    <li ng-repeat="visit in visits" ng-show="visit.pacient == profiles[plpCtrl.current].id" class="collection-item">
                                        <p class="right">{{visit.datetime | date}}</p>
                                        <p>{{employees[visit.doctor].profile.first_name}}</p>
                                        <p>{{visit.detail}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action black-text modal-close waves-effect waves-green btn-flat">Guardar</a>
                <a href="#!" class=" modal-action black-text modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <div class="left">
                    <a href="#!" class=" modal-action red-text modal-close waves-effect waves-red btn-flat">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim angular %}
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
